@import "variables";

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.container-indent {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: 768px) {
    .container-indent {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  @media (min-width: 1920px) {
    .container-indent {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
.gradient-background {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
    position: relative;
    width: 100%;
    // min-height: 100vh;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

@include mobile-header;
@include tablet-header;
@include desktop-header;
@include mobile-footer;
@include desktop-footer;

.shadow-block{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .shadow-top {
      width: 335px; 
      height: 10px;
      background-color: #CACADB;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      @media (min-width: $tablet-sd) {
        width: 728px;
      }
      
      @media (min-width: $tablet-hd) {
        width: 984px;
      }
      
      @media (min-width: $desctop-cd) {
        width: 1400px;
      }
      
      @media (min-width: $desctop-hd) {
        width: 1880px;
      }
    }
    .shadow-bottom {
      height: 10px;
      width: 295px; 
      background-color: #E7E7F2;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
  
      @media (min-width: $tablet-sd) {
        width: 688px;
      }
      
      @media (min-width: $tablet-hd) {
        width: 944px;
      }
      
      @media (min-width: $desctop-cd) {
        width: 1360px;
      }
      
      @media (min-width: $desctop-hd) {
        width: 1840px;
      }
    }
  }
  
  
  .tittle-wrap {
    padding-top: 30px;
  
    @media (min-width: $tablet-sd) {
      padding-top: 60px;
    }
  
    @media (min-width: $desctop-cd) {
      padding-top: 60px;
    }
  
    @media (min-width: $desctop-hd) {
      padding-top: 60px;
    }
  
    h2 {
      @include heading(h2);
      background: $red-text-gradient;
      background-clip: text;
      color: transparent;
      @media (min-width: $tablet-sd) {
        @include heading(h1);
      }
  
      @media (min-width: $tablet-hd) {
        @include heading(h1);
      }
  
      @media (min-width: 1440px) {
        @include heading(h1);
      }
  
      @media (min-width: 1920px) {
        @include heading(h1);
      }
  }
  }
  
  .service-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 0;
    width: 100%;
  
    @media (max-width: $mobile) {
      gap: 20px;
      padding: 30px 0;
    }
  
    @media (min-width: $tablet-sd) {
      gap: 40px;
    }
  
    @media (min-width: $desctop-cd) {
      gap: 60px;
    }
  }
  .service-block {
    flex: 1 1 calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
  
    h3 {
      @include h3-regular;
      color: $active;
      margin-bottom: 18px;
    }
  
    span {
      @include text-style(span);
      color: $white;
    }
  
    @media (max-width: $tablet-sd) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    @media (max-width: $mobile) {
      flex: 1 1 100%;
    }
  }
  .icon-container {
    width: 92px;
    height: 92px;
    background-color: $white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  
  .spacer-2 {
    height: 30px;
  }
  
    .tittle-banner {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    
      h3 {
        @include heading(h3);
        color: $main-regular;
        text-transform: uppercase;
      }
    }
    
   
.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 0;
  img {
     object-fit: none;
  }

  @media (min-width: $desctop-hd) {
    padding: 0 50px;
  }
}

.banner__item {
  flex: 1 1 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;


  @media (min-width: $mobile) {
    flex: 1 1 100%; 
    max-width: 100%;
  }

  @media (min-width: $tablet-sd) {
    flex: 1 1 33.33%; 
    max-width: 33.33%;
  }

  @media (min-width: $tablet-hd) {
    flex: 1 1 25%; 
    max-width: 25%;
  }

  @media (min-width: $desctop-hd) {
    flex: 1 1 25%; 
    max-width: 25%;
  
  }
  &.hillel {
    background-color: #1c4280;
  }
  &.wannabiz {
    background-color: #143646;
  }
  &.tapgerine {
    background-color: #f48b30;
  }
  &.look3d {
    background-color: #9e4dc3;
  }
  &.orangear {
    background-color: #fd9339;
  }
  &.adtelligent {
    background-color: #e2e2e4;
  }
  &.clickky{
    background-color: #C71C36;
  }
  &.ecolease {
    background-color: #DCF3F9;
  }
  &.infratek {
    background-color: #EAEAEA;
  }
  &.city-park {
    background-color: #282240;
  }
  &.art-print{
    background-color: #1D4568;
  }
  &.ultimate {
    background-color: #000000;
  }
}

@media (max-width: $mobile) {
  .banner .banner-hidden {
    display: none;
  }
}

    .nav__list {
      li.active a {
        color: $accent;
        text-decoration: underline;
      }
    }
    .tablet-header .icon-tablet-header .nav-menu .nav__list li a.active {
      color: $accent;
      text-decoration: underline;
    }
    .main-header .header__burger .menu .menu__list li a.active {
      color: $accent;
    }
