html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container-indent {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .container-indent {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .container-indent {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.gradient-background {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  position: relative;
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.high-header {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  background: rgba(245, 245, 250, 0.2);
}
@media (min-width: 768px) {
  .high-header {
    display: none;
  }
}
@media (min-width: 1024px) {
  .high-header {
    display: none;
  }
}
@media (min-width: 1440px) {
  .high-header {
    display: none;
  }
}
@media (min-width: 1920px) {
  .high-header {
    display: none;
  }
}

.language-select {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.language-select button {
  width: 33px;
  height: 25px;
  padding: 5px 7px;
  gap: 6px;
  border-radius: 8px;
}
.language-select button a {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

.active-btn {
  background-color: rgb(240, 20, 90);
}

.phone {
  padding: 12.5px 15px;
  color: #fff;
}

.phone-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: right;
  color: #fff;
}

.main-header {
  position: relative;
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.main-header__container {
  position: fixed;
}
@media (min-width: 768px) {
  .main-header {
    display: none;
  }
}
@media (min-width: 1024px) {
  .main-header {
    display: none;
  }
}
@media (min-width: 1440px) {
  .main-header {
    display: none;
  }
}
@media (min-width: 1920px) {
  .main-header {
    display: none;
  }
}

.logo-box {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: start;
  padding-left: 15px;
  padding-top: 15px;
}

.logo-icons {
  display: flex;
  flex-direction: column;
  gap: 3.4px;
}

.service-span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: #fff;
}

.header__burger {
  margin-right: 15px;
}
.header__burger:hover {
  background-color: rgb(230, 230, 240);
  border-radius: 8px;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header__burger {
    display: none;
  }
}
@media (min-width: 1920px) {
  .header__burger {
    display: none;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  cursor: pointer;
}
.burger__line {
  display: block;
  width: 18px;
  height: 0px;
  background-color: #fff;
  margin: 3px 0;
  border: 1px solid #fff;
}

.menu {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 359px;
  height: 351px;
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s ease;
}
.menu--open {
  transform: translateX(-50%) translateY(0);
}
.menu__list {
  display: flex;
  flex-direction: column;
  padding: 64px 15px 15px 15px;
  gap: 15px;
}
.menu__item {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(36, 163, 255);
}
.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 43px;
  padding: 7px 0px;
  border-radius: 12px;
  color: #007bff;
  font-size: 18px;
  text-transform: uppercase;
}
.menu__link:hover {
  background-color: rgb(245, 245, 250);
}
.menu__close {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 18px;
  height: 18px;
  padding-bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu__close::before, .menu__close::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: rgb(236, 111, 93);
  top: 50%;
  left: 0;
}
.menu__close::before {
  transform: rotate(45deg);
}
.menu__close::after {
  transform: rotate(-45deg);
}

.tablet-header {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-header {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 60px;
    gap: 30px;
    color: #fff;
    position: relative;
    z-index: 4;
  }
}

.union-tablet-header {
  display: flex;
  flex-direction: row;
}

.language-select-desctop {
  display: flex;
}
.language-select-desctop button {
  width: 33px;
  height: 25px;
  padding: 5px 7px;
  gap: 6px;
  border-radius: 8px;
}
.language-select-desctop button a {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
.language-select-desctop.active-btn {
  background-color: rgb(240, 20, 90);
}

.adress-block {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: rgb(179, 179, 186);
  display: flex;
  align-items: center;
}

.phone {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0px;
}
@media (max-width: 767px) {
  .phone {
    padding-right: 15px;
  }
}

.white-facebook {
  display: flex;
  align-items: center;
}

.white-facebook::before,
.adress-block::before,
.phone::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgb(179, 179, 186);
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
}

@media (max-width: 767px) {
  .phone::before {
    display: none;
  }
}

.icon-tablet-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.icon-tablet-header .logo-tittle svg {
  width: 130px;
  height: 60px;
}
.icon-tablet-header .nav-menu .nav__list {
  display: flex;
  gap: 15px;
}
.icon-tablet-header .nav-menu .nav__list li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}
.icon-tablet-header .nav-menu .nav__list li a:hover {
  color: rgb(240, 20, 90);
}

.desktop-header {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px 0px;
    position: relative;
    z-index: 4;
  }
}
@media (min-width: 1441px) {
  .desktop-header {
    padding: 50px 160px 0px;
  }
}

.union-desktop-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.desktop-contacts {
  display: flex;
  align-items: center;
}

.nav-menu .nav__list {
  display: flex;
  gap: 15px;
}
@media (min-width: 1024px) {
  .nav-menu .nav__list {
    justify-content: end;
  }
}
.nav-menu .nav__list li a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}
.nav-menu .nav__list li a:hover {
  color: rgb(240, 20, 90);
}

.footer-mobile-block {
  display: none;
}
@media (max-width: 767px) {
  .footer-mobile-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 62px 30px 30px 30px;
    background-color: rgb(245, 245, 250);
  }
  .footer-mobile-block::before {
    content: "";
    position: absolute;
    margin: 0 30px;
    top: 30px;
    left: 0;
    width: calc(100% - 60px);
    height: 2px;
    background-color: rgb(179, 179, 186);
    z-index: 0;
  }
}
.footer-mobile-block .adress-mobile-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 21px;
  font-size: 16px;
}
.footer-mobile-block .adress-mobile-block a {
  color: rgb(36, 163, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
.footer-mobile-block .adress-mobile-block a:hover {
  color: rgb(240, 20, 90);
}
.footer-mobile-block .contact-mobile-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-mobile-block .contact-mobile-block p {
  color: rgb(70, 70, 110);
}
.footer-mobile-block .contact-mobile-block .email a {
  color: rgb(36, 163, 255);
  font-weight: 700;
  font-size: 16px;
}
.footer-mobile-block .contact-mobile-block .email a:hover {
  color: rgb(240, 20, 90);
}

.copyright {
  color: #B3B3C6;
  margin-top: 30px;
}

.footer-desktop-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 62px 60px 30px 60px;
  position: relative;
  background-color: rgb(245, 245, 250);
}
.footer-desktop-block::before {
  content: "";
  position: absolute;
  margin: 0 60px;
  top: 30px;
  left: 0;
  width: calc(100% - 120px);
  height: 2px;
  background-color: rgb(179, 179, 186);
  z-index: 0;
}
@media (max-width: 767px) {
  .footer-desktop-block {
    display: none;
  }
}
@media (min-width: 1920px) {
  .footer-desktop-block {
    padding: 62px 160px 30px 160px;
  }
  .footer-desktop-block::before {
    content: "";
    position: absolute;
    margin: 0 160px;
    top: 30px;
    left: 0;
    width: calc(100% - 320px);
    height: 2px;
    background-color: rgb(179, 179, 186);
    z-index: 0;
  }
}

.union-footer {
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-width: 0;
}

.adress-footer-block,
.contact-footer-block {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.adress-footer-block a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  letter-spacing: 1px;
  text-align: left;
}

.mail-footer a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.contact-footer-block {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.contact-footer-block .blue-facebook {
  display: flex;
  align-items: center;
}

.footer-link {
  color: rgb(36, 163, 255);
}
.footer-link:hover {
  color: rgb(240, 20, 90);
}

.adress-footer-block > address::after,
.contact-footer-block > div:not(:last-child)::after,
.contact-footer-block > p:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgb(179, 179, 186);
  border-radius: 50%;
  margin: 0 10px;
  vertical-align: middle;
}

.copyright-desktop {
  display: flex;
  vertical-align: top;
  white-space: nowrap;
  margin-left: auto;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: rgb(179, 179, 186);
}

.shadow-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shadow-block .shadow-top {
  width: 335px;
  height: 10px;
  background-color: #CACADB;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media (min-width: 768px) {
  .shadow-block .shadow-top {
    width: 728px;
  }
}
@media (min-width: 1024px) {
  .shadow-block .shadow-top {
    width: 984px;
  }
}
@media (min-width: 1440px) {
  .shadow-block .shadow-top {
    width: 1400px;
  }
}
@media (min-width: 1920px) {
  .shadow-block .shadow-top {
    width: 1880px;
  }
}
.shadow-block .shadow-bottom {
  height: 10px;
  width: 295px;
  background-color: #E7E7F2;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
@media (min-width: 768px) {
  .shadow-block .shadow-bottom {
    width: 688px;
  }
}
@media (min-width: 1024px) {
  .shadow-block .shadow-bottom {
    width: 944px;
  }
}
@media (min-width: 1440px) {
  .shadow-block .shadow-bottom {
    width: 1360px;
  }
}
@media (min-width: 1920px) {
  .shadow-block .shadow-bottom {
    width: 1840px;
  }
}

.tittle-wrap {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .tittle-wrap {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .tittle-wrap {
    padding-top: 60px;
  }
}
@media (min-width: 1920px) {
  .tittle-wrap {
    padding-top: 60px;
  }
}
.tittle-wrap h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media (min-width: 768px) {
  .tittle-wrap h2 {
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 46.32px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
@media (min-width: 1024px) {
  .tittle-wrap h2 {
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 46.32px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
@media (min-width: 1440px) {
  .tittle-wrap h2 {
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 46.32px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
@media (min-width: 1920px) {
  .tittle-wrap h2 {
    font-family: "Montserrat";
    font-size: 38px;
    font-weight: 700;
    line-height: 46.32px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}

.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 0;
  width: 100%;
}
@media (max-width: 375px) {
  .service-wrapper {
    gap: 20px;
    padding: 30px 0;
  }
}
@media (min-width: 768px) {
  .service-wrapper {
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .service-wrapper {
    gap: 60px;
  }
}

.service-block {
  flex: 1 1 calc(33.33% - 30px);
  display: flex;
  flex-direction: column;
}
.service-block h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  text-align: left;
  color: rgb(36, 163, 255);
  margin-bottom: 18px;
}
.service-block span {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fff;
}
@media (max-width: 768px) {
  .service-block {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 375px) {
  .service-block {
    flex: 1 1 100%;
  }
}

.icon-container {
  width: 92px;
  height: 92px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.spacer-2 {
  height: 30px;
}

.tittle-banner {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.tittle-banner h3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgb(50, 50, 100);
  text-transform: uppercase;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 0;
}
.banner img {
  -o-object-fit: none;
     object-fit: none;
}
@media (min-width: 1920px) {
  .banner {
    padding: 0 50px;
  }
}

.banner__item {
  flex: 1 1 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 375px) {
  .banner__item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .banner__item {
    flex: 1 1 33.33%;
    max-width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .banner__item {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
@media (min-width: 1920px) {
  .banner__item {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
.banner__item.hillel {
  background-color: #1c4280;
}
.banner__item.wannabiz {
  background-color: #143646;
}
.banner__item.tapgerine {
  background-color: #f48b30;
}
.banner__item.look3d {
  background-color: #9e4dc3;
}
.banner__item.orangear {
  background-color: #fd9339;
}
.banner__item.adtelligent {
  background-color: #e2e2e4;
}
.banner__item.clickky {
  background-color: #C71C36;
}
.banner__item.ecolease {
  background-color: #DCF3F9;
}
.banner__item.infratek {
  background-color: #EAEAEA;
}
.banner__item.city-park {
  background-color: #282240;
}
.banner__item.art-print {
  background-color: #1D4568;
}
.banner__item.ultimate {
  background-color: #000000;
}

@media (max-width: 375px) {
  .banner .banner-hidden {
    display: none;
  }
}
.nav__list li.active a {
  color: rgb(240, 20, 90);
  text-decoration: underline;
}

.tablet-header .icon-tablet-header .nav-menu .nav__list li a.active {
  color: rgb(240, 20, 90);
  text-decoration: underline;
}

.main-header .header__burger .menu .menu__list li a.active {
  color: rgb(240, 20, 90);
}/*# sourceMappingURL=service.css.map */